body {
  background-color: #04090b;
  width: 100%;
  height: 2000px;
  overflow-x: hidden;
}

#starfield {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.star {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(183,185,184,1) 20%, rgba(4,13,9,1) 50%);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}


#main {
    height: 2000px;
}

#shooting_star {
  position: absolute;
  z-index: 1;
  height: 3px;
  width: 200px;
  top: 0px;
  left: 0px;
  opacity: 0;
  background-image: url(shootingstar.png);
  z-index: 1;
}

.animateStar {
  -webkit-transition: 2.5s linear;
  -moz-transition: 2.5s linear;
  -o-transition: 2.5s linear;
  transition: 2.5s linear;
}